
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>Carbon.io - API & Microservice App Framework</title>
  <meta name="Description" content="Quickly build, test, and document database-centric microservices and APIs with Carbon.io."/>
  <meta name='Keywords' content="carbon, carbon io, node.js, nodejs, microservice, microservices, api, framework, documentation, MongoDB" />
  <link rel="canonical" href="https://carbon.io/" />

  <!-- Open Graph -->
  <meta property="og:title" content="Carbon.io | Microservice & API Framework" />
  <meta property="og:description" content="Quickly build, test, and document database-centric microservices and APIs with Carbon.io." />
  <meta property="og:url" content="https://carbon.io/" />
  <meta property="og:updated_time" content="${updatedAt}" />
  <meta property="og:image" content="https://carbon.io/images/open-graph.png" />
  <meta property="og:image:url" content="https://carbon.io/images/open-graph.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="Carbon.io" />
  <meta property="og:type" content="website" />
  <meta property="og:card" content="summary" />
  <meta property="og:locale" content="en_US" />

  <!-- Twitter Open Graph -->
  <meta property="twitter:title" content="Carbon.io | Microservice & API Framework" />
  <meta property="twitter:description" content="Quickly build, test, and document database-centric microservices and APIs with Carbon.io." />
  <meta property="twitter:url" content="https://carbon.io/" />
  <meta property="twitter:image" content="https://carbon.io/images/open-graph.png" />
  <meta property="twitter:image:alt" content="Carbon.io | Microservice & API Framework" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mlab" />
  <meta name="twitter:creator" content="@mlab" />
  <link rel="me" href="https://twitter.com/mlab" />

  <!-- Styles -->
  <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body ontouchstart="">
  <section class="splash" id="splash">
    <div class="splash--particles" id="particles"></div>
    
    <%- include components/_navigation %>

    <div class="splash--content-section">
      <div js-header-group class="splash--header-group">
        <div class="splash--header-logo-container">
          <%- include("images/logo--light.svg", { className: "splash--header-logo" }) %>
        </div>

        <div class="splash--header-text-container">
          <h1 class="splash--header-text">An application framework based on Node.js and MongoDB for building <strong>microservices</strong> and <strong>APIs</strong>.</h1>
        </div>
      </div>

      <div js-header-cta class="splash--cta">
        <a href="http://docs.carbon.io/" class="splash--cta-primary" title="Carbon.io documentation">Read the Documentation</a>
        <a href="https://github.com/carbon-io/carbon-io/" class="splash--cta-secondary" title="Carbon.io on Github">View Carbon.io on Github</a>
      </div>
    </div>
  </section>

  <section class="carousel">
    <div class="carousel--triple-feature">
      <div class="carousel--triple-feature-group s-active" js-page-indicator="0">
        <img class="carousel--triple-feature-icon" src="/images/beautiful-code.svg" alt="">
        Beautiful Code
      </div>

      <div class="carousel--triple-feature-group" js-page-indicator="1">
        <img class="carousel--triple-feature-icon" src="/images/beautiful-tests.svg" alt="">
        Beautiful Tests
      </div>

      <div class="carousel--triple-feature-group" js-page-indicator="2">
        <img class="carousel--triple-feature-icon" src="/images/beautiful-docs.svg" alt="">
        Beautiful Docs
      </div>
    </div>

    <div class="carousel--control m-back m-mobile" js-carousel-previous  title="Previous feature">
      <%- include("images/chevron-left.svg", { height: "25px" })%>
    </div>

    <div class="carousel--control m-forward m-mobile" js-carousel-next  title="Next feature">
      <%- include("images/chevron-right.svg", { height: "25px" })%>
    </div>

    <div class="carousel--control m-back" js-carousel-previous  title="Previous feature">
      <%- include("images/chevron-left.svg", { height: "25px" })%>
    </div>

    <div class="carousel--control m-forward" js-carousel-next  title="Next feature">
      <%- include("images/chevron-right.svg", { height: "25px" })%>
    </div>

    <div js-feature-carousel class="carousel--group-wrapper">
      <article class="carousel--group" js-carousel-group="code">
        <h2 class="carousel--header m-mobile">
          <div class="carousel--header-keyline"></div>
          Create simple, database-centric microservices with virtually no code.
          <div class="carousel--header-keyline"></div>
        </h2>

        <div class="carousel--column m-large">
          <div class="carousel--code-wrapper">
            <pre class="carousel--code language-js">
              <code>
                <%-include code-examples/index/beautiful-code.js%>
              <br>
            </code>
            </pre>
            <div class="carousel--window-chrome m-code">
              <span>lib/ZipcodeService</span>

              <div class="carousel--window-controls">
                <div class="carousel--window-control m-red"></div>
                <div class="carousel--window-control m-yellow"></div>
                <div class="carousel--window-control m-green"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel--column m-small">
          <h2 class="carousel--header">
            <div class="carousel--header-keyline"></div>
            Create simple, database-centric microservices with virtually no code.
            <div class="carousel--header-keyline"></div>
          </h2>

          <div class="carousel--terminal-wrapper">
            <pre class="carousel--terminal">
              <code js-terminal="code"></code>
            </pre>

            <div class="carousel--window-chrome m-terminal">
              <span>bash</span>

              <div class="carousel--window-controls">
                <div class="carousel--window-control m-red"></div>
                <div class="carousel--window-control m-yellow"></div>
                <div class="carousel--window-control m-green"></div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="carousel--group s-inactive" js-carousel-group="tests">
        <h2 class="carousel--header m-mobile">
          <div class="carousel--header-keyline"></div>
          Easily create unit tests for your service with the built-in testing library.
          <div class="carousel--header-keyline"></div>
        </h2>

        <div class="carousel--column m-large">
          <div class="carousel--code-wrapper">
            <pre class="carousel--code language-js">
              <code>
                <%-include code-examples/index/beautiful-tests.js%>
                <br>
              </code>
            </pre>

            <div class="carousel--window-chrome m-code">
              <span>lib/ZipcodeServiceTest</span>
              <div class="carousel--window-controls">
                <div class="carousel--window-control m-red"></div>
                <div class="carousel--window-control m-yellow"></div>
                <div class="carousel--window-control m-green"></div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="carousel--column m-small">
          <h2 class="carousel--header">
            <div class="carousel--header-keyline"></div>
            Easily write unit tests for your service with the built-in testing library.
            <div class="carousel--header-keyline"></div>
          </h2>

          <div class="carousel--terminal-wrapper">
            <pre class="carousel--terminal">
              <code js-terminal="tests"></code>
            </pre>

            <div class="carousel--window-chrome m-terminal">
              <span>bash</span>
              <div class="carousel--window-controls">
                <div class="carousel--window-control m-red"></div>
                <div class="carousel--window-control m-yellow"></div>
                <div class="carousel--window-control m-green"></div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="carousel--group s-inactive" js-carousel-group="docs">
        <h2 class="carousel--header m-mobile">
          <div class="carousel--header-keyline"></div>
          Generate docs straight from your code with no extra hassle.
          <div class="carousel--header-keyline"></div>
        </h2>

        <div class="carousel--column m-small">
          <h2 class="carousel--header">
            <div class="carousel--header-keyline"></div>
            Generate docs straight from your code with no extra hassle.
            <div class="carousel--header-keyline"></div>
          </h2>

          <div class="carousel--terminal-wrapper">
            <pre class="carousel--terminal">
              <code js-terminal="docs"></code>
            </pre>
            
            <div class="carousel--window-chrome">
              <span>bash</span>
              <div class="carousel--window-controls m-terminal">
                <div class="carousel--window-control m-red"></div>
                <div class="carousel--window-control m-yellow"></div>
                <div class="carousel--window-control m-green"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel--column m-large">
          <div class="carousel--docs-image"></div>
        </div>
      </article>
    </div>
  </section>

<!--   <header js-scroll-header class="scroll-header">
    <div>
      <a js-page-link href="#hello-example" class="scroll-header--link">Hello, World!</a>
      <a js-page-link href="#mongodb-example" class="scroll-header--link">MongoDB</a>
      <a js-page-link href="#collections-example" class="scroll-header--link">Collections</a>
      <a js-page-link href="#chaining-example" class="scroll-header--link">Chaining</a>
      <a js-page-link href="#authentication-example" class="scroll-header--link">Authentication & Access Control</a>
      <a js-page-link href="#testing-example" class="scroll-header--link">Testing</a>
      <a js-page-link href="#documentation-example" class="scroll-header--link">Documentation Generation</a>
    </div>

    <div>
      <a js-page-link href="#splash" class="scroll-header--link">Back to top</a>
    </div>
  </header>

  <div class="keyline"></div> -->

  <section js-example-section class="example" id="hello-example">
    <div class="example--left">
      <h1 class="example--header">Hello World</h1>
      <a class="example--link" href="https://github.com/carbon-io/example__hello-world-service" title="Hello world example">View Example on Github</a>
    </div>

    <div class="example--right">
      <p class="example--body">With Carbon.io, APIs are defined via Services. A Service is an HTTP server that exposes a JSON REST API and which is defined as a tree of Endpoints. This Service defines a HTTP GET method on an Endpoint called "hello".</p>
      <pre class="language-js example--code">
        <code><%-include code-examples/index/hello-world.js%></code>
      </pre>
    </div>
  </section>

  <section js-example-section class="example" id="endpoints-example">
    <div class="example--left">
      <h1 class="example--header">Endpoints & Operations</h1>
    </div>

    <div class="example--right">
      <p class="example--body">Each Endpoint is made up of Operations, which can formally define request parameters and responses. Operation definitions can use JSON Schemas to automatically validate input parameters and output responses.</p>
      
      <pre class="language-js example--code">
        <code><%-include code-examples/index/endpoints-operations.js%></code>
      </pre>
    </div>
  </section>

  <section js-example-section class="example" id="collections-example">
    <div class="example--left">
      <h1 class="example--header">MongoDB Collections</h1>
      <h2></h2>
      <a class="example--link" href="https://github.com/carbon-io-guides/example__zipcode-service" title="Collections example">View Example on Github</a>
    </div>

    <div class="example--right">
      <p class="example--body">Collections are a high-level abstraction on top of Endpoints that provide a higher-level interface for implementing access to a collection of resources. You can easily implement full database CRUD with virtually no code.</p>

      <pre class="language-js example--code">
        <code><%-include code-examples/index/collections.js%></code>
      </pre>

      <p>
        This supports the following HTTP methods and Endpoints:

        <div class="example--triple-details">
          <div class="example--triple-detail">
            <code class="example--triple-detail-header">/&#60;zipcodes&#62;</code>
            <div class="example--triple-detail-list-item"><code>POST</code></div>
            <div class="example--triple-detail-list-item"><code>GET</code></div>
            <div class="example--triple-detail-list-item"><code>PATCH</code></div>
            <div class="example--triple-detail-list-item"><code>DELETE</code></div>
          </div>
          <div class="example--triple-detail">
            <code class="example--triple-detail-header">/&#60;zipcodes&#62;/:_id</code>
            <div class="example--triple-detail-list-item"><code>PUT</code></div>
            <div class="example--triple-detail-list-item"><code>GET</code></div>
            <div class="example--triple-detail-list-item"><code>PATCH</code></div>
            <div class="example--triple-detail-list-item"><code>DELETE</code></div>
        </div>
        
      </p>
    </div>
  </section>

  <section js-example-section class="example" id="chaining-example">
    <div class="example--left">
      <h1 class="example--header">Microservice Chaining</h1>
      <a class="example--link" href="https://github.com/carbon-io/example__hello-world-service-chaining" title="Chaining example">View Example on Github</a>
    </div>

    <div class="example--right">
      <p class="example--body">Microservices often need to communicate with other microservices. Carbon.io makes it easy to communicate between multiple Services.</p>
      <p class="example--body">
        This example defines two services:

        <ul>
          <li><strong>PublicHelloService</strong>: defines a simple <code>/hello</code> endpoint that delegates to our PrivateHelloService</li>
          <li><strong>PrivateHelloService</strong>: defines a simple <code>/hello</code> endpoint that returns <code>{ msg: "Hello world!" }</code></li>
        </ul>
      </p>

      <%- include("images/chaining-diagram.svg", { className: "example--diagram" })%>

      <div class="example--toggles">
        <div js-code-toggle="chaining--public" class="example--toggle s-active">PublicHelloService</div>
        <div js-code-toggle="chaining--private" class="example--toggle">PrivateHelloService</div>
      </div>

      <pre js-code-block="chaining--public" class="language-js example--code s-visible s-in">
        <code> <%- include code-examples/index/chaining--public.js%></code>
      </pre>

      <pre js-code-block="chaining--private" class="language-js example--code">
        <code><%- include code-examples/index/chaining--private.js%></code>
      </pre>

    </div>
  </section>

  <section js-example-section class="example" id="authentication-example">
    <div class="example--left">
      <h1 class="example--header">Authentication & Access Control</h1>
      <a class="example--link" href="https://github.com/carbon-io/example__hello-world-service-chaining" title="Authentication & access control example">View Example on Github</a>
    </div>

    <div class="example--right">
      <p class="example--body">
        Every Carbon.io Service can be configured with an Authenticator. You can configure your own instance of the Authenticator class or use one of the several built-in Authenticators:

        <ul>
          <li>
            <strong>HttpBasicAuthenticator</strong>: Base class for implementing HTTP basic authentication

            <ul>
              <li><strong>MongoDBHttpBasicAuthenticator</strong>: An HttpBasicAuthenticator backed by MongoDB</li>
            </ul>
          </li>

          <li>
            <strong>ApiKeyAuthenticator</strong>: Base class for implementing API-key based authentication

            <ul>
              <li><strong>MongoDBApiKeyAuthenticator</strong>: An ApiKeyAuthenticator backed by MongoDB</li>
            </ul>
          </li>
        </ul>
      </p>
      
      <pre class="language-js example--code">
        <code><%-include code-examples/index/auth.js%></code>
      </pre>

      <p>Endpoints can configure an Access Control List (ACL) to govern which users can perform each HTTP operation.</p>

      <pre class="language-js example--code">
        <code><%-include code-examples/index/access-control.js%></code>
      </pre>
    </div>
  </section>

  <section js-example-section class="example" id="testing-example">
    <div class="example--left">
      <h1 class="example--header">Testing</h1>
      <a class="example--link" href="https://github.com/carbon-io-guides/example__test-suites" title="Testing example">View Example on Github</a>
    </div>

    <div class="example--right">
      <p class="example--body">Carbon.io comes with a testing library that makes it easy to manage large test suites. Here's an example of a HTTP-based test.</p>
      
      <pre class="language-js example--code">
        <code><%-include code-examples/index/testing.js%></code>
      </pre>
    </div>
  </section>

  <section js-example-section class="example" id="documentation-example">
    <div class="example--left">
      <h1 class="example--header">Documentation Generation</h1>
      <a class="example--link" href="https://github.com/carbon-io-guides/example__contact-service" title="Documentation generation example">Check Out Our Official Tutorial</a>
    </div>

    <div class="example--right">
      <p class="example--body">Every Carbon.io Service is capable of generating its own docs. You can currently choose between Github-flavored Markdown or static HTML using Aglio. The docs here are auto generated from <a href="https://github.com/carbon-io-guides/example__contact-service">our official tutorial</a>.</p>
      
      <div class="example--docs-image"></div>
    </div>
  </section>

  <%- include components/_footer %>

  <script type="application/javascript" src="/js/lib/three.min.js"></script>
  <script type="application/javascript" src="/js/lib/jquery-3.0.0.slim.min.js"></script>
  <script type="application/javascript" src="/js/lib/prism.js"></script>
  <script type="application/javascript" src="/js/lib/fastclick.min.js"></script>
  <script type="application/javascript" src="js/index.js"></script>
</body>

</html>
